body{
    background-color: #fcebb6;
    color: #221811;
    font: Arial;
    background-image: url("images/fadedroad50.jpg");
    background-attachment: fixed;
    background-size: cover;
}

main{
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    display: block;


}
details{
    padding-left: 20%;
    padding-right: 20%;

}

header{
    color: #8c3826;
    background-color: #d2b48c;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;


}

h1{
   
    font-size: 3em;
}
h2{
    color: #8c3826;
   
    
}
h3{
    color: #8c3826;

}
dt{
    color: #8c3826;
}
h4{
    background-color: #d2b48c;
    font-size: 1.2em;
    padding-left: .5em;
    padding-bottom: .25em;

}
nav{
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 5px;
    padding-bottom: 5em;
    

}
nav a {text-decoration: none;}

footer{
    background-color: #D2B48C;
    font-size: .60em;
    text-align: center;
    font: italic;


}
#wrapper{   /* #name is for id styling */
    margin-right: auto;
    margin-left: auto;  /*Will help center the text on the screen*/
    width:80%;
    background-color: #fefaeb;
    min-width: 900px;
    max-width: 1280px;
    padding-top: 1em 2px;
    box-shadow: 5px 5px ;
    
}

img{
    padding-left: 10px;
    padding-right: 10px;
}

#homehero{
    height: 300px;
    background-image: url(images/hero.jpg);
    background-size: cover;
}

.details{
    padding-left: 20%;
    padding-right: 20%;
}